<div id="header">
    <div class="search-title">
        Gif Search
    </div>
    <div class="input-group">
        <input type="text" class="input-group-text" placeholder="What are you looking for?">
        <select class="input-group-select" disabled>
            <option value="Show All">Show All</option>
        </select>
        <button type="button" class="input-group-button"><i class="fa fa-search"></i></button>
    </div>
    <div class="search-desc">
        <p class="short-desc">You can search any gif with our search</p>
        <p class="long-desc">Everything you need for your creative projects
            ,websites,banners,presentations,magazines and advertising</p>
    </div>

</div>