#header {
  text-align: center;
  color: white;
  .search-title {
    padding-top: 1%;
    font-size: 24px;
  }
  .input-group {
    margin: 1% 0;

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      background: transparent;
      background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
      background-repeat: no-repeat;
      background-position-x: 100%;
      background-position-y: 10px;
      padding: 0 1rem;
      padding-right: 2rem;
    }
    .input-group-select:disabled {
      background-color: rgb(227, 238, 244);
      opacity: 0.9;
    }
    .input-group-text {
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px;
      padding: 0 0 0 13px;
      width: 30%;
    }
    .input-group-text::placeholder {
      color: rgb(220, 225, 228);
    }
    .input-group-button {
      background-color: black;
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;
      color: white;
      width: 44px;
      cursor: pointer;
    }
    .input-group-text,
    .input-group-select,
    .input-group-button {
      height: 45px;
      border: none;
    }
  }
  .search-desc {
    margin: 1% 0;
    font-size: 20px;
    .long-desc {
      font-size: 14px;
      margin: 1% 0;
    }
  }
}

@media only screen and (max-width: 768px) {
  #header {
    .input-group {
      .input-group-text {
        width: 50%;
      }
    }
    .search-desc {
      font-size: 18px;
    }
  }
}

@media only screen and (max-width: 480px) {
  #header {
    .input-group {
      margin: 3% 0;
      .input-group-text {
        width: 50%;
      }
    }
    .search-desc {
      margin: 3% 0;
      font-size: 18px;
      .long-desc {
        margin: 3% 0;
      }
    }
  }
}
